---
import Layout from "../layouts/Layout.astro";
import Logo from "../components/Logo.astro";
import Github from "../components/Github.astro";
import Google from "../components/Google.astro";
---

<script>
  type Provider = "github" | "google";

  import {
    signInWithGithub,
    onAuthStateChange,
    currentSession,
  } from "../lib/auth";

  const buttons = document.querySelectorAll("button[data-provider]");
  const loginSection = document.querySelector("#login")!;
  const ButtonSignIn = document.querySelector("#button-signin")!;

  onAuthStateChange((_, session) => {
    if (session) {
      loginSection.classList.add("hidden");
      ButtonSignIn.classList.remove("hidden");
    } else {
      loginSection.classList.remove("hidden");
      ButtonSignIn.classList.add("hidden");
    }
  });

  const handleLogin = async (provider: Provider) => {
    if (provider === "google") {
      console.error("Google login not implemented yet");
      return;
    }

    await signInWithGithub();
  };

  buttons.forEach((button) => {
    button.addEventListener("click", () => {
      const buttonElement = button as HTMLButtonElement;
      handleLogin(buttonElement.dataset.provider! as Provider);
    });
  });

  ButtonSignIn.addEventListener("click", async () => {
    const { data } = await currentSession();

    const url = new URL(import.meta.env.PUBLIC_VSCODE_URI);
    url.searchParams.set("session", btoa(JSON.stringify(data.session)));

    window.location.href = url.toString();
  });
</script>

<Layout title="Welcome to Astro.">
  <main class="flex flex-col gap-8 w-full h-screen items-center justify-center">
    <Logo />

    <h1 class="text-2xl text-white font-bold">Welcome to Dory</h1>

    <button
      id="button-signin"
      class="hidden p-4 bg-white opacity-40 rounded-full"
    >
      Abrir en Visual Studio Code
    </button>

    <div id="login" class="flex gap-3">
      <button
        data-provider="github"
        class="group rounded-full transition-transform hover:bg-white hover:scale-125 p-2"
      >
        <Github class="group-hover:fill-black transition-colors" />
      </button>

      <button
        data-provider="google"
        class="group rounded-full transition-transform hover:bg-white hover:scale-125 p-2 disabled:opacity-50 disabled:pointer-events-none"
        disabled
      >
        <Google class="group-hover:fill-black transition-colors" />
      </button>
    </div>
  </main>
</Layout>
